Checking data types and dataset arrangements

### Importing libraries

In [3]:
import pandas as pd

### Importing datasets

#### Court Stage

In [6]:
obts_court = pd.read_csv("data/obts/obts_court.csv")

obts_court.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_21856\2618468255.py:1: DtypeWarning: Columns (5,6,9,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_court = pd.read_csv("data/obts/obts_court.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17440647 entries, 0 to 17440646
Data columns (total 13 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   ct_Charge_Status  object
 2   ct_Charge_Level   object
 3   ct_Charge_Degree  object
 4   ct_Gen_Off_Char   object
 5   ct_FLST_Chap      object
 6   ct_FLST_Sect      object
 7   ct_FLST_Subsect   object
 8   ct_Drug_Type      object
 9   ct_Decision_Dt    object
 10  ct_Action_Taken   object
 11  ct_Trial_Type     object
 12  ct_Final_Plea     object
dtypes: int64(1), object(12)
memory usage: 1.7+ GB

In [7]:
obts_court.columns = obts_court.columns.str.upper()

obts_court

,ID,CT_CHARGE_STATUS,CT_CHARGE_LEVEL,CT_CHARGE_DEGREE,CT_GEN_OFF_CHAR,CT_FLST_CHAP,CT_FLST_SECT,CT_FLST_SUBSECT,CT_DRUG_TYPE,CT_DECISION_DT,CT_ACTION_TAKEN,CT_TRIAL_TYPE,CT_FINAL_PLEA
0,5,S,M,S,N,322.0,34,2,N,20080811.0,G,1.0,3.0
1,6,S,M,S,N,322.0,34,2,N,20080709.0,G,1.0,3.0
2,7,S,M,S,N,322.0,03,1,N,20080218.0,G,1.0,3.0
3,8,S,M,S,N,322.0,03,1,N,20080128.0,G,1.0,3.0
4,12,S,F,T,N,784.0,021,NaN,N,20080813.0,G,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17440642,18341482,N,N,N,N,NaN,NaN,NaN,N,0,NaN,NaN,NaN
17440643,18341483,N,N,N,N,NaN,NaN,NaN,N,0,NaN,NaN,NaN
17440644,18341484,N,N,N,N,NaN,NaN,NaN,N,0,NaN,NaN,NaN
17440645,18341485,N,N,N,N,NaN,NaN,NaN,N,0,NaN,NaN,NaN
17440646,18341486,N,N,N,N,NaN,NaN,NaN,N,0,NaN,NaN,NaN

#### Sentence Stage

In [9]:
obts_sentence = pd.read_csv("data/obts/obts_sentence.csv")

obts_sentence.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_21856\653784674.py:1: DtypeWarning: Columns (1,2,4,5,6,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_sentence = pd.read_csv("data/obts/obts_sentence.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341292 entries, 0 to 18341291
Data columns (total 13 columns):
 #   Column               Dtype
---  ------               -----
 0   id                   int64
 1   st_Imposed_Dt        object
 2   st_Confine           object
 3   st_Confine_Type      object
 4   st_Confine_Len_Susp  object
 5   st_Credit_Time       object
 6   st_Prob_Len          object
 7   st_Comm_Len          float64
 8   st_Fine              object
 9   st_Court_Cost        object
 10  st_Restitution       float64
 11  st_Sent_Prov         object
 12  st_Sp_Sent_Prov      object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.8+ GB

In [10]:
obts_sentence.columns = obts_sentence.columns.str.upper()

obts_sentence

,ID,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_PROB_LEN,ST_COMM_LEN,ST_FINE,ST_COURT_COST,ST_RESTITUTION,ST_SENT_PROV,ST_SP_SENT_PROV
0,1,88888888.0,88888888888888.0,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN
1,2,88888888.0,88888888888888.0,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN
2,3,88888888.0,88888888888888.0,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN
3,4,88888888.0,88888888888888.0,N,888888,0.0,8888888.0,888888.0,888888.88,888888.88,8.888889e+05,NNNNN,NNNNNNN
4,5,20080811.0,20000002.0,C,888888,2.0,600.0,888888.0,888888.88,311.0,8.888889e+05,NNNNN,NNNNNNN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341287,18341482,88888888,88888888888888,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N
18341288,18341483,88888888,88888888888888,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N
18341289,18341484,88888888,88888888888888,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N
18341290,18341485,88888888,88888888888888,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N
18341291,18341486,88888888,88888888888888,N,888888,0,8888888,0.0,888888888.0,888888888.0,8.888889e+08,N,N

#### Post-Sentence Stage

In [12]:
obts_postsentence = pd.read_csv("data/obts/obts_postsentence.csv")

obts_postsentence.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_21856\497008919.py:1: DtypeWarning: Columns (1,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_postsentence = pd.read_csv("data/obts/obts_postsentence.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17698328 entries, 0 to 17698327
Data columns (total 5 columns):
 #   Column                   Dtype
---  ------                   -----
 0   id                       int64
 1   pst_Ch_Reopen_Dt         object
 2   pst_Ch_Reopen_Reason     object
 3   pst_Ch_Reopen_Closed_Dt  object
 4   pst_Appeal_Notice_Dt     object
dtypes: int64(1), object(4)
memory usage: 675.1+ MB

In [13]:
obts_postsentence.columns = obts_postsentence.columns.str.upper()

obts_postsentence

,ID,PST_CH_REOPEN_DT,PST_CH_REOPEN_REASON,PST_CH_REOPEN_CLOSED_DT,PST_APPEAL_NOTICE_DT
0,1,88888888,N,88888888,88888888
1,2,88888888,N,88888888,88888888
2,3,88888888,N,88888888,88888888
3,4,88888888,N,88888888,88888888
4,5,88888888,N,88888888,88888888
...,...,...,...,...,...
17698323,18341482,88888888,N,88888888,88888888
17698324,18341483,88888888,N,88888888,88888888
17698325,18341484,88888888,N,88888888,88888888
17698326,18341485,88888888,N,88888888,88888888
17698327,18341486,88888888,N,88888888,88888888