Analyzing acquittals, juvenile sanctions and youthful offender sentences

### Importing libraries

In [3]:
import pandas as pd

### Importing dataset

In [5]:
minors_master = pd.read_csv("data/obts/minors_sentences_master.csv")

columns_to_drop = ["MESSAGE_TYPE", "ARREST_NAME", "FINAL_NAME", "PR_FLST_CHAP", "PR_FLST_SECT", "PR_FLST_SUBSECT",
                  "CT_FLST_CHAP", "CT_FLST_SECT", "CT_FLST_SUBSECT", "ST_PROB_LEN", "ST_COMM_LEN", "ST_FINE",
                   "ST_COURT_COST", "ST_RESTITUTION"]
minors_master = minors_master.drop(columns = columns_to_drop)

minors_master.head()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_17892\696628784.py:1: DtypeWarning: Columns (2,23,24,27,29,34,35,43,47,49,50) have mixed types. Specify dtype option on import or set low_memory=False.
  minors_master = pd.read_csv("data/obts/minors_sentences_master.csv")

,ID,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,SEX,RACE,BIRTH_DATE,...,CT_TRIAL_TYPE,CT_FINAL_PLEA,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_SENT_PROV,ST_SP_SENT_PROV,ST_IMPOSED_YR
0,48,8888888888,012005CF005485XXXAXX,1,1,R,1,M,W,1987-10-15,...,NaN,NaN,NaN,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,NaN
1,49,8888888888,012005CF005485XXXAXX,2,1,R,1,M,W,1987-10-15,...,NaN,NaN,NaN,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,NaN
2,50,8888888888,012005CF005485XXXAXX,3,1,R,1,M,W,1987-10-15,...,NaN,NaN,NaN,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,NaN
3,51,8888888888,012005CF005485XXXAXX,4,1,R,1,M,W,1987-10-15,...,NaN,NaN,NaN,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,NaN
4,290,8888888888,012007CF002605XXXAXX,1,1,R,1,M,B,1989-06-15,...,NaN,NaN,NaN,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,NaN

In [6]:
minors_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278795 entries, 0 to 278794
Data columns (total 41 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    278795 non-null  int64
 1   OFF_TRAN_NO           278795 non-null  object
 2   COURT_DOCKET_NO       278795 non-null  object
 3   SEQUENCE_NO           278795 non-null  int64
 4   NO_OF_COUNTS          278795 non-null  int64
 5   COURT_DESIGNATOR      278795 non-null  object
 6   COUNTY                278795 non-null  int64
 7   SEX                   276439 non-null  object
 8   RACE                  273320 non-null  object
 9   BIRTH_DATE            278795 non-null  object
 10  INIT_ARREST_DT        274971 non-null  object
 11  CLERK_DT              278782 non-null  object
 12  OFFENSE_DT            278795 non-null  object
 13  CAPIAS_DT             74337 non-null   object
 14  REARREST_DT           31925 non-null   object
 15  AGE                   278795 non-null  float64
 16  PR_CHARGE_STATUS      270904 non-null  object
 17  PR_CHARGE_LEVEL       225684 non-null  object
 18  PR_CHARGE_DEGREE      230379 non-null  object
 19  PR_GEN_OFF_CHAR       240064 non-null  object
 20  PR_FILING_DT          241669 non-null  float64
 21  PR_FINAL_DECISION_DT  229995 non-null  object
 22  PR_FINAL_ACTION       173806 non-null  object
 23  PR_COUNSEL_TYPE       217634 non-null  object
 24  CT_CHARGE_STATUS      263182 non-null  object
 25  CT_CHARGE_LEVEL       230431 non-null  object
 26  CT_CHARGE_DEGREE      234264 non-null  object
 27  CT_GEN_OFF_CHAR       240758 non-null  object
 28  CT_DRUG_TYPE          197634 non-null  object
 29  CT_DECISION_DT        234471 non-null  float64
 30  CT_ACTION_TAKEN       180892 non-null  object
 31  CT_TRIAL_TYPE         192901 non-null  float64
 32  CT_FINAL_PLEA         181639 non-null  float64
 33  ST_IMPOSED_DT         134442 non-null  object
 34  ST_CONFINE            60916 non-null   object
 35  ST_CONFINE_TYPE       229731 non-null  object
 36  ST_CONFINE_LEN_SUSP   278776 non-null  float64
 37  ST_CREDIT_TIME        248525 non-null  float64
 38  ST_SENT_PROV          220492 non-null  object
 39  ST_SP_SENT_PROV       217968 non-null  object
 40  ST_IMPOSED_YR         134442 non-null  float64
dtypes: float64(8), int64(4), object(29)
memory usage: 87.2+ MB

### Analyzing for acquittals and juvenile sanctions

#### Felonies and misdemeanors

In [9]:
### filters for felonies and misdemeanors
data = minors_master[minors_master["CT_CHARGE_LEVEL"].isin(["M", "F"])].reset_index(drop = True)

### filters for total acquittals
acquit = data[data["CT_ACTION_TAKEN"].isin(["A", "I", "D", "E", "T", "M", "Y"])].reset_index(drop = True)

### filters for acquittals (excluding mental health)
acquit_noment = data[data["CT_ACTION_TAKEN"].isin(["A", "D", "E", "T", "Y"])].reset_index(drop = True)

### filters for juvenile sanctions
juvie = data[data["CT_ACTION_TAKEN"] == "K"].reset_index(drop = True)

print("Total minors:", data["OFF_TRAN_NO"].nunique())
print("Minors acquitted (including for mental health reasons):" , acquit["OFF_TRAN_NO"].nunique())
print("Minors acquitted (excluding for mental health reasons):" , acquit_noment["OFF_TRAN_NO"].nunique())
print("Minors found delinquent or imposed juvenile sanctions):" , juvie["OFF_TRAN_NO"].nunique())

Total minors: 33841
Minors acquitted (including for mental health reasons): 1428
Minors acquitted (excluding for mental health reasons): 1296
Minors found delinquent or imposed juvenile sanctions): 2631

#### Felonies

In [11]:
### filters for felonies
data = minors_master[minors_master["CT_CHARGE_LEVEL"] == "F"].reset_index(drop = True)

### filters for total acquittals
acquit = data[data["CT_ACTION_TAKEN"].isin(["A", "I", "D", "E", "T", "M", "Y"])].reset_index(drop = True)

### filters for acquittals (excluding mental health)
acquit_noment = data[data["CT_ACTION_TAKEN"].isin(["A", "D", "E", "T", "Y"])].reset_index(drop = True)

### filters for juvenile sanctions
juvie = data[data["CT_ACTION_TAKEN"] == "K"].reset_index(drop = True)

print("Total minors:", data["OFF_TRAN_NO"].nunique())
print("Minors acquitted (including for mental health reasons):" , acquit["OFF_TRAN_NO"].nunique())
print("Minors acquitted (excluding for mental health reasons):" , acquit_noment["OFF_TRAN_NO"].nunique())
print("Minors found delinquent or imposed juvenile sanctions):" , juvie["OFF_TRAN_NO"].nunique())

Total minors: 22812
Minors acquitted (including for mental health reasons): 830
Minors acquitted (excluding for mental health reasons): 714
Minors found delinquent or imposed juvenile sanctions): 1953

In [12]:
juvie

,ID,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,SEX,RACE,BIRTH_DATE,...,CT_TRIAL_TYPE,CT_FINAL_PLEA,ST_IMPOSED_DT,ST_CONFINE,ST_CONFINE_TYPE,ST_CONFINE_LEN_SUSP,ST_CREDIT_TIME,ST_SENT_PROV,ST_SP_SENT_PROV,ST_IMPOSED_YR
0,3695,107194210,012008CF000870XXXAXX,1,1,R,1,M,B,1991-02-15,...,1.0,3.0,2008-08-07,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2008.0
1,3696,107194210,012008CF000870XXXAXX,2,1,R,1,M,B,1991-02-15,...,1.0,3.0,2008-08-07,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2008.0
2,7776,102108637,012008CF003215XXXAXX,1,1,R,1,M,B,1992-05-15,...,1.0,5.0,2008-12-29,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2008.0
3,7777,102108637,012008CF003215XXXAXX,2,1,R,1,M,B,1992-05-15,...,1.0,5.0,2008-12-29,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2008.0
4,7778,102108637,012008CF003215XXXAXX,3,1,R,1,M,B,1992-05-15,...,1.0,5.0,2008-12-29,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2008.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5190,18126180,8888888888,532023CF002944A000XX,6,1,R,53,M,W,2007-10-15,...,1.0,3.0,2023-12-18,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2023.0
5191,18126182,8888888888,532023CF002944A000XX,8,1,R,53,M,W,2007-10-15,...,1.0,3.0,2023-12-18,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2023.0
5192,18126536,5305025672,532023CF003091A000XX,1,1,R,53,M,B,2007-09-15,...,1.0,3.0,2023-12-06,NaN,N,888888.0,0.0,NNNNN,NNNNNNN,2023.0
5193,18233737,8888888888,582023CF010268XXXANC,1,1,R,58,M,B,2008-06-15,...,1.0,3.0,2023-10-16,JUV,J,888888.0,0.0,NNNNN,NNNNNNN,2023.0
5194,18233738,8888888888,582023CF010268XXXANC,2,1,R,58,M,B,2008-06-15,...,1.0,3.0,2023-10-16,JUV,J,888888.0,0.0,NNNNN,NNNNNNN,2023.0

#### Misdemeanors

In [14]:
### filters for misdemeanors
data = minors_master[minors_master["CT_CHARGE_LEVEL"] == "M"].reset_index(drop = True)

### filters for total acquittals
acquit = data[data["CT_ACTION_TAKEN"].isin(["A", "I", "D", "E", "T", "M", "Y"])].reset_index(drop = True)

### filters for acquittals (excluding mental health)
acquit_noment = data[data["CT_ACTION_TAKEN"].isin(["A", "D", "E", "T", "Y"])].reset_index(drop = True)

### filters for juvenile sanctions
juvie = data[data["CT_ACTION_TAKEN"] == "K"].reset_index(drop = True)

print("Total minors:", data["OFF_TRAN_NO"].nunique())
print("Minors acquitted (including for mental health reasons):" , acquit["OFF_TRAN_NO"].nunique())
print("Minors acquitted (excluding for mental health reasons):" , acquit_noment["OFF_TRAN_NO"].nunique())
print("Minors found delinquent or imposed juvenile sanctions):" , juvie["OFF_TRAN_NO"].nunique())

Total minors: 17096
Minors acquitted (including for mental health reasons): 741
Minors acquitted (excluding for mental health reasons): 702
Minors found delinquent or imposed juvenile sanctions): 1223

### Analyzing for youthful offender sentences

#### Felonies and misdemeanors

In [17]:
### filters for felonies and misdemeanors
data = minors_master[minors_master["CT_CHARGE_LEVEL"].isin(["M", "F"])].reset_index(drop = True)

### filters for youthful offender designation
yo = data[data["ST_SP_SENT_PROV"] == "Y"].reset_index(drop = True)

print("Total minors:", data["OFF_TRAN_NO"].nunique())
print("Minors adjudged youthful offenders:" , yo["OFF_TRAN_NO"].nunique())

Total minors: 33841
Minors adjudged youthful offenders: 834

#### Felonies

In [19]:
### filters for felonies
data = minors_master[minors_master["CT_CHARGE_LEVEL"] == "F"].reset_index(drop = True)

### filters for youthful offender designation
yo = data[data["ST_SP_SENT_PROV"] == "Y"].reset_index(drop = True)

print("Total minors:", data["OFF_TRAN_NO"].nunique())
print("Minors adjudged youthful offenders:" , yo["OFF_TRAN_NO"].nunique())

Total minors: 22812
Minors adjudged youthful offenders: 792

#### Misdemeanors

In [21]:
### filters for misdemeanors
data = minors_master[minors_master["CT_CHARGE_LEVEL"] == "M"].reset_index(drop = True)

### filters for youthful offender designation
yo = data[data["ST_SP_SENT_PROV"] == "Y"].reset_index(drop = True)

print("Total minors:", data["OFF_TRAN_NO"].nunique())
print("Minors adjudged youthful offenders:" , yo["OFF_TRAN_NO"].nunique())

Total minors: 17096
Minors adjudged youthful offenders: 106