Computing average and median sentences for minors compared to adults for each year

### Importing libraries

In [3]:
import pandas as pd

### Importing datasets

In [5]:
data_types = {
    "ID": str,
}

columns_to_drop = ["MESSAGE_TYPE", "ARREST_NAME", "FINAL_NAME", "PR_FLST_CHAP", "PR_FLST_SECT", "PR_FLST_SUBSECT",
                  "CT_FLST_CHAP", "CT_FLST_SECT", "CT_FLST_SUBSECT", "ST_PROB_LEN", "ST_COMM_LEN", "ST_FINE",
                   "ST_COURT_COST", "ST_RESTITUTION"]

In [6]:
minors = pd.read_csv("data/obts/minors_analysissentences.csv", dtype = data_types)
adults = pd.read_csv("data/obts/adults_analysissentences.csv", dtype = data_types)

minors = minors.drop(columns = columns_to_drop).reset_index(drop = True)
adults = adults.drop(columns = columns_to_drop).reset_index(drop = True)

### filters for felonies
minors = minors[minors["CT_CHARGE_LEVEL"] == "F"].reset_index(drop = True)
adults = adults[adults["CT_CHARGE_LEVEL"] == "F"].reset_index(drop = True)

### filters for specific years
minors = minors[minors["ST_IMPOSED_YR"] > 2007].reset_index(drop = True)
adults = adults[adults["ST_IMPOSED_YR"] > 2007].reset_index(drop = True)

### removes juvenile sanctions
minors = minors[minors["CT_ACTION_TAKEN"] != "K"].reset_index(drop = True)
adults = adults[adults["CT_ACTION_TAKEN"] != "K"].reset_index(drop = True)

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_2288\2237887204.py:1: DtypeWarning: Columns (2,23,24,27,29,34,35,50) have mixed types. Specify dtype option on import or set low_memory=False.
  minors = pd.read_csv("data/obts/minors_analysissentences.csv", dtype = data_types)
C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_2288\2237887204.py:2: DtypeWarning: Columns (2,23,24,26,27,29,34,35,38,40,41,48,49,50,52,53) have mixed types. Specify dtype option on import or set low_memory=False.
  adults = pd.read_csv("data/obts/adults_analysissentences.csv", dtype = data_types)

### Analyzing

In [8]:
year = [2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

#### Overall felonies

In [10]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = minors[minors["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = adults[adults["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/all_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,1065,668,730,359,2.9,1.8,2.0,1.0
1,2009,1469,932,730,369,4.0,2.6,2.0,1.0
2,2010,1836,1071,850,390,5.0,2.9,2.3,1.1
3,2011,1456,1069,850,395,4.0,2.9,2.3,1.1
4,2012,1633,1478,1095,397,4.5,4.0,3.0,1.1
5,2013,1530,1193,1095,455,4.2,3.3,3.0,1.2
6,2014,1981,1293,1460,455,5.4,3.5,4.0,1.2
7,2015,1774,1409,1460,425,4.9,3.9,4.0,1.2
8,2016,2375,1482,1215,395,6.5,4.1,3.3,1.1
9,2017,2445,1283,1460,395,6.7,3.5,4.0,1.1
10,2018,1821,1357,1460,395,5.0,3.7,4.0,1.1
11,2019,2660,1667,1460,395,7.3,4.6,4.0,1.1
12,2020,1436,1042,1095,369,3.9,2.9,3.0,1.0
13,2021,1741,1095,1460,429,4.8,3.0,4.0,1.2
14,2022,1876,1188,1460,514,5.1,3.3,4.0,1.4
15,2023,2028,1409,1460,455,5.6,3.9,4.0,1.2
16,2024,2241,1961,1460,540,6.1,5.4,4.0,1.5

#### Capital felonies

In [12]:
m_data = minors[minors["CT_CHARGE_DEGREE"] == "C"].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"] == "C"].reset_index(drop = True)

In [13]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/cap_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,5256,34166,5256,4015,14.4,93.6,14.4,11.0
1,2009,3650,45047,3650,9125,10.0,123.4,10.0,25.0
2,2010,186698,30456,186698,8030,511.5,83.4,511.5,22.0
3,2011,7300,21928,7300,7300,20.0,60.1,20.0,20.0
4,2012,6862,39493,7300,10950,18.8,108.2,20.0,30.0
5,2013,13238,17641,16560,9490,36.3,48.3,45.4,26.0
6,2014,9682,27703,7300,34683,26.5,75.9,20.0,95.0
7,2015,11182,27729,8578,34683,30.6,76.0,23.5,95.0
8,2016,66184,49720,17338,34683,181.3,136.2,47.5,95.0
9,2017,17064,19799,16425,10950,46.8,54.2,45.0,30.0
10,2018,12145,22375,9125,34683,33.3,61.3,25.0,95.0
11,2019,16061,45593,14600,34683,44.0,124.9,40.0,95.0
12,2020,14600,25541,14600,8212,40.0,70.0,40.0,22.5
13,2021,15661,26700,16425,34683,42.9,73.2,45.0,95.0
14,2022,10058,31929,5840,34683,27.6,87.5,16.0,95.0
15,2023,15191,39031,14600,34683,41.6,106.9,40.0,95.0
16,2024,39243,68090,39243,34683,107.5,186.5,107.5,95.0

#### Life felonies

In [15]:
m_data = minors[minors["CT_CHARGE_DEGREE"] == "L"].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"] == "L"].reset_index(drop = True)

In [16]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/life_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,4289,4719,4745,3650,11.8,12.9,13.0,10.0
1,2009,7242,6997,5840,3650,19.8,19.2,16.0,10.0
2,2010,5412,12060,4380,5840,14.8,33.0,12.0,16.0
3,2011,4264,10066,2555,5475,11.7,27.6,7.0,15.0
4,2012,4610,7804,3650,5475,12.6,21.4,10.0,15.0
5,2013,4389,8665,2920,5475,12.0,23.7,8.0,15.0
6,2014,4687,10685,3650,5475,12.8,29.3,10.0,15.0
7,2015,5225,8839,4380,5602,14.3,24.2,12.0,15.3
8,2016,5720,8487,4566,5475,15.7,23.3,12.5,15.0
9,2017,8655,9814,5475,6205,23.7,26.9,15.0,17.0
10,2018,4252,9249,3650,5975,11.6,25.3,10.0,16.4
11,2019,5145,12279,3650,5475,14.1,33.6,10.0,15.0
12,2020,3901,12465,3285,5475,10.7,34.2,9.0,15.0
13,2021,4201,8896,3650,4745,11.5,24.4,10.0,13.0
14,2022,3772,8112,3039,5475,10.3,22.2,8.3,15.0
15,2023,5614,11443,4380,5475,15.4,31.4,12.0,15.0
16,2024,6185,14310,5475,5840,16.9,39.2,15.0,16.0

#### Felonies punishable by life

In [18]:
m_data = minors[minors["CT_CHARGE_DEGREE"] == "P"].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"] == "P"].reset_index(drop = True)

In [19]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/punlife_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,1513,6328,1460,3447,4.1,17.3,4.0,9.4
1,2009,3445,5707,2190,3650,9.4,15.6,6.0,10.0
2,2010,7371,6913,2125,3650,20.2,18.9,5.8,10.0
3,2011,3309,5457,1930,3650,9.1,15.0,5.3,10.0
4,2012,2668,6536,1825,3650,7.3,17.9,5.0,10.0
5,2013,2940,5813,2190,3650,8.1,15.9,6.0,10.0
6,2014,3689,5715,2555,3650,10.1,15.7,7.0,10.0
7,2015,2759,4784,2190,3650,7.6,13.1,6.0,10.0
8,2016,3691,6689,2810,3650,10.1,18.3,7.7,10.0
9,2017,3647,5597,2190,3650,10.0,15.3,6.0,10.0
10,2018,4083,4837,2555,3650,11.2,13.3,7.0,10.0
11,2019,4330,6846,2920,3650,11.9,18.8,8.0,10.0
12,2020,3858,3900,2950,2285,10.6,10.7,8.1,6.3
13,2021,3254,6476,2190,3010,8.9,17.7,6.0,8.2
14,2022,3430,6474,2735,3285,9.4,17.7,7.5,9.0
15,2023,3254,6412,2190,3650,8.9,17.6,6.0,10.0
16,2024,2492,5736,2008,3650,6.8,15.7,5.5,10.0

#### Overall felonies (excluding life, punishable by life and capital)

In [21]:
m_data = minors[minors["CT_CHARGE_DEGREE"].isin(["F", "S", "T"])].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"].isin(["F", "S", "T"])].reset_index(drop = True)

In [22]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/fst_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,1024,640,685,359,2.8,1.8,1.9,1.0
1,2009,1316,868,730,369,3.6,2.4,2.0,1.0
2,2010,1507,980,730,372,4.1,2.7,2.0,1.0
3,2011,1344,989,755,395,3.7,2.7,2.1,1.1
4,2012,1545,1378,1095,395,4.2,3.8,3.0,1.1
5,2013,1409,1109,1095,455,3.9,3.0,3.0,1.2
6,2014,1824,1194,1460,450,5.0,3.3,4.0,1.2
7,2015,1621,1326,1230,401,4.4,3.6,3.4,1.1
8,2016,1894,1372,1095,372,5.2,3.8,3.0,1.0
9,2017,1994,1204,1460,390,5.5,3.3,4.0,1.1
10,2018,1596,1278,1460,390,4.4,3.5,4.0,1.1
11,2019,2444,1544,1460,372,6.7,4.2,4.0,1.0
12,2020,1213,968,1095,366,3.3,2.7,3.0,1.0
13,2021,1539,989,1162,425,4.2,2.7,3.2,1.2
14,2022,1695,1066,1441,485,4.6,2.9,3.9,1.3
15,2023,1770,1249,1365,425,4.8,3.4,3.7,1.2
16,2024,1930,1771,1440,485,5.3,4.9,3.9,1.3

#### First-degree felonies

In [24]:
m_data = minors[minors["CT_CHARGE_DEGREE"] == "F"].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"] == "F"].reset_index(drop = True)

In [25]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/first_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,2325,2686,1492,1275,6.4,7.4,4.1,3.5
1,2009,4266,2825,2190,1475,11.7,7.7,6.0,4.0
2,2010,4117,3265,2190,1712,11.3,8.9,6.0,4.7
3,2011,2624,3472,1460,1825,7.2,9.5,4.0,5.0
4,2012,2719,5307,2190,1825,7.4,14.5,6.0,5.0
5,2013,2529,3455,2140,1825,6.9,9.5,5.9,5.0
6,2014,4261,3637,2190,1825,11.7,10.0,6.0,5.0
7,2015,3326,4217,2372,1825,9.1,11.6,6.5,5.0
8,2016,4936,4694,1825,1825,13.5,12.9,5.0,5.0
9,2017,4624,3694,2190,1825,12.7,10.1,6.0,5.0
10,2018,3030,4396,2190,1825,8.3,12.0,6.0,5.0
11,2019,5750,4540,2384,2039,15.8,12.4,6.5,5.6
12,2020,2165,4109,1460,1825,5.9,11.3,4.0,5.0
13,2021,2766,3036,2190,1825,7.6,8.3,6.0,5.0
14,2022,2846,3572,2158,1825,7.8,9.8,5.9,5.0
15,2023,3736,3959,2920,1915,10.2,10.8,8.0,5.2
16,2024,4565,3720,2920,1825,12.5,10.2,8.0,5.0

#### Second-degree felonies

In [27]:
m_data = minors[minors["CT_CHARGE_DEGREE"] == "S"].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"] == "S"].reset_index(drop = True)

In [28]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/second_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,1160,1016,730,545,3.2,2.8,2.0,1.5
1,2009,1283,1392,730,730,3.5,3.8,2.0,2.0
2,2010,1393,1458,910,730,3.8,4.0,2.5,2.0
3,2011,1389,1442,970,730,3.8,4.0,2.7,2.0
4,2012,1839,2094,1095,730,5.0,5.7,3.0,2.0
5,2013,1708,1683,1440,910,4.7,4.6,3.9,2.5
6,2014,1964,1796,1460,900,5.4,4.9,4.0,2.5
7,2015,1960,2466,1460,910,5.4,6.8,4.0,2.5
8,2016,1853,2235,1460,910,5.1,6.1,4.0,2.5
9,2017,2668,2278,1640,960,7.3,6.2,4.5,2.6
10,2018,1827,2104,1460,1080,5.0,5.8,4.0,3.0
11,2019,3175,2973,1460,1095,8.7,8.1,4.0,3.0
12,2020,1442,1624,1095,790,4.0,4.4,3.0,2.2
13,2021,1890,1765,1460,1095,5.2,4.8,4.0,3.0
14,2022,2040,1837,1460,1095,5.6,5.0,4.0,3.0
15,2023,2231,2501,1460,1095,6.1,6.9,4.0,3.0
16,2024,2123,4469,1440,1275,5.8,12.2,3.9,3.5

#### Third-degree felonies

In [30]:
m_data = minors[minors["CT_CHARGE_DEGREE"] == "T"].reset_index(drop = True)
a_data = adults[adults["CT_CHARGE_DEGREE"] == "T"].reset_index(drop = True)

In [31]:
results = []
for j in range(0, len(year)):

    rows = []
    yr = year[j]

    ### filters by year
    dfm = m_data[m_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)
    dfa = a_data[a_data["ST_IMPOSED_YR"] == yr].reset_index(drop = True)

    ### computes average sentences
    m_avg_days = round(dfm["ST_DAYS"].mean())
    m_avg_years = round(m_avg_days/365, 1)
    a_avg_days = round(dfa["ST_DAYS"].mean())
    a_avg_years = round(a_avg_days/365, 1)

    ### computes median sentences
    m_med_days = round(dfm["ST_DAYS"].median())
    m_med_years = round(m_med_days/365, 1)
    a_med_days = round(dfa["ST_DAYS"].median())
    a_med_years = round(a_med_days/365, 1)
    
    ### storing datapoints
    rows.append(yr)
    rows.append(m_avg_days)
    rows.append(a_avg_days)
    rows.append(m_med_days)
    rows.append(a_med_days)
    rows.append(m_avg_years)
    rows.append(a_avg_years)
    rows.append(m_med_years)
    rows.append(a_med_years)

    ### creating row
    results.append(rows)

    ### creating dataframe
    results_df = pd.DataFrame(results)
    results_df.columns = ["YEAR", "MINORS_AVG_DAYS", "ADULTS_AVG_DAYS", "MINORS_MEDIAN_DAYS", "ADULTS_MEDIAN_DAYS", 
                          "MINORS_AVG_YEARS", "ADULTS_AVG_YEARS", "MINORS_MEDIAN_YEARS", "ADULTS_MEDIAN_YEARS"]
    results_df = results_df.sort_values(by = "YEAR").reset_index(drop = True)
    results_df["YEAR"] = results_df["YEAR"].apply(lambda x: str(int(x)))

### exports dataframe
results_df.to_csv("data/obts/results/third_felonies.csv", index = False)

results_df

,YEAR,MINORS_AVG_DAYS,ADULTS_AVG_DAYS,MINORS_MEDIAN_DAYS,ADULTS_MEDIAN_DAYS,MINORS_AVG_YEARS,ADULTS_AVG_YEARS,MINORS_MEDIAN_YEARS,ADULTS_MEDIAN_YEARS
0,2008,790,482,566,270,2.2,1.3,1.6,0.7
1,2009,812,594,665,364,2.2,1.6,1.8,1.0
2,2010,1056,674,694,365,2.9,1.8,1.9,1.0
3,2011,1071,681,725,365,2.9,1.9,2.0,1.0
4,2012,1156,859,730,365,3.2,2.4,2.0,1.0
5,2013,1036,771,1030,366,2.8,2.1,2.8,1.0
6,2014,1357,846,1095,366,3.7,2.3,3.0,1.0
7,2015,1118,807,933,366,3.1,2.2,2.6,1.0
8,2016,1273,915,1095,365,3.5,2.5,3.0,1.0
9,2017,1159,762,1095,366,3.2,2.1,3.0,1.0
10,2018,1185,868,1125,366,3.2,2.4,3.1,1.0
11,2019,1188,999,1095,366,3.3,2.7,3.0,1.0
12,2020,961,664,750,359,2.6,1.8,2.1,1.0
13,2021,1076,620,1095,366,2.9,1.7,3.0,1.0
14,2022,1296,629,1095,369,3.6,1.7,3.0,1.0
15,2023,1204,644,1095,366,3.3,1.8,3.0,1.0
16,2024,1317,687,1245,366,3.6,1.9,3.4,1.0