Checking data types and dataset arrangements

### Importing library

In [3]:
import pandas as pd

### Importing datasets

#### Basic Stage

In [6]:
obts_basic = pd.read_csv("data/obts/obts_basic.csv")
obts_basic.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_9512\3138490787.py:1: DtypeWarning: Columns (2,13) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_basic = pd.read_csv("data/obts/obts_basic.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341486 entries, 0 to 18341485
Data columns (total 18 columns):
 #   Column            Dtype
---  ------            -----
 0   id                int64
 1   Message_Type      object
 2   Off_Tran_No       object
 3   Court_Docket_No   object
 4   Sequence_No       int64
 5   No_of_Counts      int64
 6   Court_Designator  object
 7   County            int64
 8   Arrest_Name       object
 9   Final_name        object
 10  Sex               object
 11  Race              object
 12  birth_date        float64
 13  Init_Arrest_Dt    object
 14  Clerk_Dt          int64
 15  Offense_Dt        float64
 16  Capias_Dt         int64
 17  Rearrest_Dt       int64
dtypes: float64(2), int64(7), object(9)
memory usage: 2.5+ GB

In [7]:
obts_basic.columns = obts_basic.columns.str.upper()
obts_basic

,ID,MESSAGE_TYPE,OFF_TRAN_NO,COURT_DOCKET_NO,SEQUENCE_NO,NO_OF_COUNTS,COURT_DESIGNATOR,COUNTY,ARREST_NAME,FINAL_NAME,SEX,RACE,BIRTH_DATE,INIT_ARREST_DT,CLERK_DT,OFFENSE_DT,CAPIAS_DT,REARREST_DT
0,1,N,8888888888,011991CF000568XXXAXX,1,1,R,1,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaN,19910220,19910220,19910129.0,19930107,88888888
1,2,N,8888888888,011991CF000568XXXAXX,2,1,R,1,5a36e4f5f094e5c72f81de886cea69f232570f14,5a36e4f5f094e5c72f81de886cea69f232570f14,M,B,NaN,19910220,19910220,19910129.0,19930107,88888888
2,3,N,8888888888,011995CF003385XXXAXX,2,1,R,1,4656e660210c168530c54aed3277e4aa17354332,4656e660210c168530c54aed3277e4aa17354332,M,B,197311.0,19950830,19950830,19950709.0,0,88888888
3,4,N,8888888888,011999CF003366XXXAXX,1,1,R,1,f02add2c191d6e2f770e6e084897c223df878d9d,f02add2c191d6e2f770e6e084897c223df878d9d,M,W,197604.0,19990910,19990910,19990602.0,0,88888888
4,5,N,108009684,011999CT000044XXXAXX,1,1,C,1,f40c34e94f18211f599f6d33f100a177495d5885,f40c34e94f18211f599f6d33f100a177495d5885,M,B,194707.0,20080810,20080810,19981229.0,19990120,88888888
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,N,8888888888,672024MM000008MMAXMX,1,1,C,67,40e3ca5eacd1a5375924f542ae0e68fe1d978105,40e3ca5eacd1a5375924f542ae0e68fe1d978105,M,W,199906.0,20231222,20231222,20231222.0,88888888,88888888
18341482,18341483,N,8888888888,672024MM000009MMAXMX,1,1,C,67,f1397e0bc1517e73010da30902e4362a0053be3e,f1397e0bc1517e73010da30902e4362a0053be3e,M,W,200304.0,20231223,20231223,20231223.0,88888888,88888888
18341483,18341484,N,8888888888,672024MM000010MMAXMX,1,1,C,67,f6907b940d36ebed53a8d22aa1e41e9b485a45af,f6907b940d36ebed53a8d22aa1e41e9b485a45af,M,W,200102.0,20231223,20231223,20231223.0,88888888,88888888
18341484,18341485,N,8888888888,672024MM000011MMAXMX,1,1,C,67,ee7bc5811be3893e7ea644395dde5728c10d0a02,ee7bc5811be3893e7ea644395dde5728c10d0a02,M,W,200112.0,20231217,20231217,20231217.0,88888888,88888888
18341485,18341486,N,8888888888,672024MM000017MMAXMX,1,1,C,67,cef89db53c801bf0252c2adca7fd45b3090320f5,cef89db53c801bf0252c2adca7fd45b3090320f5,F,B,200511.0,20240111,20231231,20231231.0,20240108,88888888

#### Initial Stage

In [9]:
obts_initial = pd.read_csv("data/obts/obts_initial.csv")
obts_initial.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_9512\4122048403.py:1: DtypeWarning: Columns (4,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_initial = pd.read_csv("data/obts/obts_initial.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18341486 entries, 0 to 18341485
Data columns (total 10 columns):
 #   Column              Dtype
---  ------              -----
 0   id                  int64
 1   In_Charge_Status    object
 2   Charge_Level        object
 3   Charge_Degree       object
 4   in_FLST_Chap        object
 5   in_FLST_Sect        object
 6   in_FLST_Subsect     object
 7   Drug_Type           object
 8   Bond_Hearing_Dt     object
 9   Adv_Prelim_Hear_Dt  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.4+ GB

In [10]:
obts_initial.columns = obts_initial.columns.str.upper()
obts_initial

,ID,IN_CHARGE_STATUS,CHARGE_LEVEL,CHARGE_DEGREE,IN_FLST_CHAP,IN_FLST_SECT,IN_FLST_SUBSECT,DRUG_TYPE,BOND_HEARING_DT,ADV_PRELIM_HEAR_DT
0,1,S,F,T,893.0,13,1,N,88888888,88888888.0
1,2,S,F,S,893.0,13,1A,N,88888888,88888888.0
2,3,N,NaN,NaN,NaN,NaN,NaN,N,88888888,88888888.0
3,4,S,F,T,893.0,13,6A,N,88888888,88888888.0
4,5,F,M,S,322.0,34,2,N,88888888,88888888.0
...,...,...,...,...,...,...,...,...,...,...
18341481,18341482,P,M,S,379.0,401.0,2a,N,88888888,88888888.0
18341482,18341483,P,M,S,379.0,401.0,2a,N,88888888,88888888.0
18341483,18341484,S,M,S,379.0,401.0,2a,N,88888888,88888888.0
18341484,18341485,P,M,S,379.0,401.0,2a,N,88888888,88888888.0
18341485,18341486,F,M,F,784.0,3.0,1a1,N,88888888,88888888.0

#### Prosecutor Stage

In [12]:
obts_prosecutor = pd.read_csv("data/obts/obts_prosecutor.csv")
obts_prosecutor.info()

C:\Users\sdasgupta\AppData\Local\Temp\ipykernel_9512\2457777056.py:1: DtypeWarning: Columns (5,6,8,9,11) have mixed types. Specify dtype option on import or set low_memory=False.
  obts_prosecutor = pd.read_csv("data/obts/obts_prosecutor.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18289409 entries, 0 to 18289408
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   id                    int64
 1   pr_Charge_Status      object
 2   pr_Charge_Level       object
 3   pr_Charge_Degree      object
 4   pr_Gen_Off_Char       object
 5   pr_FLST_Chap          object
 6   pr_FLST_Sect          object
 7   pr_FLST_Subsect       object
 8   pr_Filing_Dt          object
 9   pr_Final_Decision_Dt  object
 10  pr_Final_Action       object
 11  pr_Counsel_Type       object
dtypes: int64(1), object(11)
memory usage: 1.6+ GB

In [13]:
obts_prosecutor.columns = obts_prosecutor.columns.str.upper()
obts_prosecutor

,ID,PR_CHARGE_STATUS,PR_CHARGE_LEVEL,PR_CHARGE_DEGREE,PR_GEN_OFF_CHAR,PR_FLST_CHAP,PR_FLST_SECT,PR_FLST_SUBSECT,PR_FILING_DT,PR_FINAL_DECISION_DT,PR_FINAL_ACTION,PR_COUNSEL_TYPE
0,1,S,F,T,N,893.0,13,1,88888888.0,20080218.0,L,1.0
1,2,S,F,S,N,893.0,13,1A,88888888.0,20080218.0,L,1.0
2,3,E,F,T,N,817.0,61,NaN,19960410.0,20080523.0,L,1.0
3,4,S,F,T,N,893.0,13,6A,88888888.0,20080220.0,L,1.0
4,5,NaN,NaN,NaN,N,NaN,NaN,NaN,88888888.0,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
18289404,18341482,S,M,S,N,379.0,401.0,2a,88888888,20240209,Z,1
18289405,18341483,S,M,S,N,379.0,401.0,2a,88888888,20240307,Z,1
18289406,18341484,S,M,S,N,379.0,401.0,2a,88888888,20240228,P,1
18289407,18341485,N,N,N,N,NaN,NaN,NaN,88888888,88888888,NaN,1
18289408,18341486,N,N,N,N,NaN,NaN,NaN,88888888,88888888,NaN,2